.odos-formkit {
  width: 100%;
  .odos-formkit-item {
    margin: 12px 0;
    width: 100%;

    // 校验提示
    .validationMessage {
      display: none;
    }
    // 必填校验提示
    &.required {
      :deep {
        .odos-select,
        .odos-textarea {
          border: 1px solid #f65b56;
        }
      }
      .validationMessage {
        display: block;
        color: #f65b56;
      }
    }
  }
}
